.main_chat
  .main_chat__groups-info
    .main_chat__groups-info__left-box
      .main_chat__groups-info__left-box__current-group  test
      .main_chat__groups-info__left-box__member-list    test1
    = link_to "Edit", "#", class: "main_chat__groups-info__edit-box"
  .main_chat__message-list
    .main_chat__message-list__message
      .main_chat__message-list__message__upper-info
        .main_chat__message-list__message__upper-info__sender ore
        .main_chat__message-list__message__upper-info__date today
      %p.main_chat__message-list__message__text wow

  .main_chat__message-form
    %form{class: "new_message", id: "new_message"}
      .input-box
        %input.input-box__text{placeholder: "type a message", type: "text", name: "message[content]", id: "message_content"}
        %label.input-box__image{for: "message_image"}
          = icon("fa", "image")
          %input.input-box__image__file{type:"file", name: "message[image]", id: "message_image"}   
      %input.new_message__submit-btn{type: "submit", name: "commit", value: "Send", data: {disable: {with: "Send"}}}
    

